mixin about-preview()
  .about-preview
    .row
      .col-xs-12.col-sm-4.col-sm-push-4.about-preview-col-big
        .about-preview-col-big__inner
          .about-preview-item.about-preview-item--big
            .wrap-img
              img(src='http://via.placeholder.com/560x310', style="width:100%; height: auto;")
      .col-xs-6.col-sm-4.col-sm-pull-4
        .about-preview-item.about-preview-item--small
          .wrap-img
            img(src='http://via.placeholder.com/360x213', style="width:100%; height: auto;")
      .col-xs-6.col-sm-4
        .about-preview-item.about-preview-item--small
          .wrap-img
            img(src='http://via.placeholder.com/360x213', style="width:100%; height: auto;")