include about-preview
include about-info
mixin about()
  .about
    .container-fluid
      .about__title WHY MODUS VERSUS?
      .about__description Capacitance cascading integer reflective interface data development high bus cache dithering transponder.  
      +about-preview()
      +about-info()
    