mixin about-info()
  .about-info
    .row
      .col-xs-12.col-md-6.col-md-push-3
        .skills
          .skills-info Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus 
            a(href="#").skills-info__link vehicula mattis
            |. Nulla ac massa at dolor condimentum eleifend vitae vitae urna.
          .skills-bar
            .skills-bar__item
              .bar(data-progressbar, data-progressbar-value="0.5")
              .skills-bar-name SUSPENDISSE
            .skills-bar__item
              .bar(data-progressbar, data-progressbar-value="0.7")
              .skills-bar-name MAECENAS 
            .skills-bar__item
              .bar(data-progressbar, data-progressbar-value="0.8")
              .skills-bar-name ALIQUAM
            .skills-bar__item
              .bar(data-progressbar, data-progressbar-value="1")
              .skills-bar-name HABITASSE
      .col-xs-12.col-sm-6.col-md-3.col-md-pull-6
        .why-choose-us
          .about-info__title Why Choose Us ?
          .why-choose-us__item
            i.fa.fa-arrow-right
            sapn Quisque at massa ipsum 
          .why-choose-us__item
            i.fa.fa-arrow-right
            sapn Maecenas a lorem augue, egestas 
          .why-choose-us__item
            i.fa.fa-arrow-right
            sapn Cras vitae felis at lacus eleifend 
          .why-choose-us__item
            i.fa.fa-arrow-right
            sapn Etiam auctor diam pellentesque 
          .why-choose-us__item
            i.fa.fa-arrow-right
            sapn Nulla ac massa at dolor 
          .why-choose-us__item
            i.fa.fa-arrow-right
            sapn Condimentum eleifend vitae vitae
      
      .col-xs-12.col-sm-6.col-md-3
        .reviews
          .about-info__title What Client’s Say ?
          .reviews-quote 
            span.reviews-quote--italic Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque lectus vehicula mattis. 
            span Nulla ac massa at dolor condimentum
          .reviews-quote-author Jhon Doe
