mixin introduction()
  .introduction.clearfix
    .row
      .col-xs-12.col-sm-9
        .introduction-info
          .introduction-info__title Some of our top services
          .introduction-info__text Ut eleifend libero sed neque rhoncus consequat. Maecenas tincidunt, augue et rutrum condimentum, libero lectus mattis orci, ut commodo. 
      .col-xs-12.col-sm-3
        .view-more-wrap
          a(href="#").btn.btn-danger.view-more VIEW MORE
    