mixin footer-info()
  .footer-info
    .container-fluid
      .row
        .col-xs-6
          .footer-copyright 2013  ModusVersus
        .col-xs-6
          .social
            a(href="#")
              i.fa.fa-facebook
            a(href="#")
              i.fa.fa-google-plus
            a(href="#")
              i.fa.fa-twitter
            a(href="#")
              i.fa.fa-rss

    