mixin footer-panel()
  .footer-panel
    .container-fluid
      .row
        .col-xs-12.col-md-4
          +logo()
          .footer-panel__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec.
          .row
            .col-xs-12.col-sm-4.col-md-12
              .footer-panel__info 
                span.footer-panel__info-prop Phone
                span.footer-panel__info-det 182 2569 5896
            .col-xs-12.col-sm-4.col-md-12
              .footer-panel__info
                span.footer-panel__info-prop e-mail:
                span.footer-panel__info-det info@modu.versus
        .col-xs-12.col-sm-6.col-md-2
          .footer-nav
            .footer-nav__title Company
            .row
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") About
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") FAQ
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") Contact
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") Terms
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") Privacy
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") Testimonials
        .col-xs-12.col-sm-6.col-md-2
          .footer-nav
            .footer-nav__title Community
            .row
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") Blog
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") Forum
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") Support
              .col-xs-6.col-md-12
                .footer-nav__item.wrap-icon
                  i.fa.fa-angle-right
                  a(href="#") Newsletter
        .col-xs-12.col-md-4
          .footer-blog
            .footer-blog__title from the 
              span BLOG
            .row
              .col-xs-12.col-sm-6.col-md-12
                .footer-blog__item.clearfix
                  .footer-blog__item-preview
                    img(src="img/footer-blog-preview.png", alt="")
                  .footer-blog__item-info
                    .footer-blog__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    .footer-blog__item-date 26 May, 2013
              .col-xs-12.col-sm-6.col-md-12
                .footer-blog__item.clearfix
                  .footer-blog__item-preview
                    img(src="img/footer-blog-preview.png", alt="")
                  .footer-blog__item-info
                    .footer-blog__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    .footer-blog__item-date 26 May, 2013
